@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}


* {box-sizing: border-box;}
body {margin: 0 auto; font-family: GmarketSansLight;}
a {all:unset;}
a:link {text-decoration: none;}
a:active {text-decoration: none;}
a:visited {text-decoration: none; color: #707070;}
a:hover{text-decoration: none; cursor: pointer;}
ul {margin: 0; padding: 0;}
li{list-style: none;}
button:hover{cursor: pointer;}
section{position: relative;}


.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-ctn {
    width: 100%;
    height: 8vh;
    box-shadow: 0 6px 6px 0 rgba(231, 231, 231, 0.16);
}

.logo {
    font-family: 'GmarketSansMedium';
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 25%;
}

.content-img > :nth-child(1) {
    width: 375px;
    height: auto;
    cursor: pointer;


}
.result-img, .loading-img {
    width: 375px;
    height: auto;

}


.click-btn {
    display: none;
}

.content-ctn {
    width: 100%;
    height: 100%;
    margin: 5em auto;


}
.content-ctn{
    text-align: center;
}

.content-text, .loading-text {
    font-family: 'GmarketSansMedium';
    margin-top:1em;
    font-size: 1.5rem;
}

.content-explanation {
    font-family: 'GmarketSansMedium';
    margin-top: 1em;
    font-size: 1.5em;
    color:#949494;
}

.result-coin {
    font-family: 'GmarketSansBold';
    font-size: 3.5em;
    
    
}

.rst-up {
    color:#1f79ff;
}

.rst-bit {
    color:#ffcb1f;
}

.rpy-up {
    background-color: #1f93fff5;
}
.rpy-bit{
    background-color: #ffb81ff5;
}
.replay {
    margin-top: 1em;
    border: none;
    color: white;
    font-family: 'GmarketSansBold';
    text-align: center;
    padding: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 1em;
}

.location {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'GmarketSansMedium';
    margin-top: 3em;
    font-size:1.2rem;

}
.location > :nth-child(1) {
    margin: 0 1em;
}
.ad {
    width: 100%;
    text-align: center;
}


@media only screen and (min-width:1205px) {
    .inner {
        width: 1205px;
    }
}

